<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>authorizeFilter</filter-name>
        <filter-class>pkg.filters.authorizeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>checkUrlFilter</filter-name>
        <filter-class>pkg.filters.checkUrlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>checkUrlFilter</filter-name>
        <url-pattern>/faces/products.xhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authorizeFilter</filter-name>
        <url-pattern>/faces/account.xhtml</url-pattern>
        <url-pattern>/faces/wishlist.xhtml</url-pattern>
        <url-pattern>/faces/profile.xhtml</url-pattern>
        <url-pattern>/faces/orders.xhtml</url-pattern>
        <url-pattern>/faces/singleOrder.xhtml</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
